<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html base="index.html" %}

  

<div class='full' style='background: #333'>
  <div class='row'>
    <div class='large-12 columns'>
      <h2 style='color: #fff;'>Our works</h2>
    </div>
  </div>
  <div class='two spacing'></div>
</div>
<div class='two spacing'></div>
<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='mod modBoxedSlider'>
        <div class='slides'>
          {% for image in page.images %}
            <!-- div class='slide' -->
            <div  class="carousel slide" data-ride="carousel">
              <img alt="" src="{{image}}" />
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class='spacing'></div>
  <div class='row'>
    <div class='large-8 columns'>
      <h3>{{page.title}}</h3>
      <p>
        {{content}}
      </p>

      <div class='spacing'></div>
      
      {%if page.action-link %}
          <a class='button small' href='{{page.action-link}}' target='_blank'> More Info </a>
      {% endif %}

       </div>
    <div class='large-4 columns'>
      <ul class='info'>
        <li>
          <strong>Date:</strong>
          {{page.when}}
        </li>
        <li>
    {% for item in site.projects %}
      {% if item.url == page.url %}
        {% assign index = forloop.index %}
        {% assign index_prev = index | minus: 2 %}
        {% assign index_next = index  %}    
      {% endif %}
    {% endfor %}
    {% assign url_prev = site.projects[index_prev].url%}
    {% assign url_next = site.projects[index_next].url%}

          <div class='spacing'></div>
        {% if url_prev  %}

          <a href='{{url_prev}}' title='previous'>
            <i class='icon-left-open'></i>
          </a>
        {% endif %}

    

          <a href='/listofprojects.html' title='back to work list'>
            <i class='icon-layout'></i>
          </a>
    {% if url_next  %}

          <a href='{{url_next}}' title='next'>
            <i class='icon-right-open'></i>
          </a>
        {% endif %}
        </li>
      </ul>
    </div>
  </div>
  <div class='four spacing'></div>
</div>

    {% include footer.html %}

  </body>

</html>
